.hand-horizontal {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 10px 10px 10px 10px;
}

.hand-vertical {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 100px 10px 10px 10px;
  align-items: center;
}
