.table {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: green;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-row {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.mid-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  margin: auto;
}

