.trick {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
}

.top {
  position: absolute;
  top: 5%;
  height:30%;
}

.middle {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.left {
  padding-left: 60px;
  padding-right: 60px;
}

.right {
  padding-left: 60px;
  padding-right: 60px;
}

.bottom {
  position: absolute;
  bottom: 0%;
  height: 30%;
}